<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Minify JavaScript</string>
			<key>output</key>
			<string>replaceDocument</string>
			<key>script</key>
			<string>minifyjs.php</string>
			<key>uuid</key>
			<string>DE90E0FB-2161-4269-A34B-E46B1BF60E02</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Pack JavaScript</string>
			<key>output</key>
			<string>replaceDocument</string>
			<key>script</key>
			<string>packjs.php</string>
			<key>uuid</key>
			<string>606ADC5D-BBD3-4BB3-A4F9-78593FF4FA29</string>
		</dict>
	</array>
</dict>
</plist>
